/* Styling for the whole ass game */
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

/* Styling for the guess or number selector */
#guess {
  width: 5em;
}

/* Styling for the resest button */
#reset {
  margin: 20px;
}